.form {
    margin: 50px 515px;
    width: 500px;
    padding: 40px;
    border: 5px solid white;
    border-radius: 20px;
}

.dFlex {
    display: flex;
    gap: 10px;
}

.form label {
    width: 50px;
}

.form input {
    background-color: #ffffff;
    border: none;
    margin-bottom: 15px;
    font-size: 20px;
}

.form input::placeholder {
    color: #ee4c7c;
}

.form button {
    background-color: #9a1750;
    border: none;
    color: #e3bfc3;
    font-size: 20px;
}

.form button:hover {
    background-color: #ee4c7c;
    color: #030e12;
}

.alert {
    margin-top: 10px;
}
