.header {
    width: 100%;
    height: 100px;
    background-color: #04202C;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 80px;
}

.header a {
    color: #c9d1c8;
    text-decoration: none;
    font-family: 'Caveat', cursive;
    font-weight: bold;
}

.header a[class='active'] {
    color: #5b7065;
}

.f40 {
    font-size: 40px;
}

.f60 {
    font-size: 60px;
}
